@charset "utf-8";
#main {
    width: calc(100% - 200px);
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.project {
    width: 100%;
    height: 100%;
    position: relative;
    clear: both;
    overflow: hidden;
}

/*    텍스트    */
.frame {
    position: absolute;
    top: 30%;
    padding: 30px 0;
}
/*    페이지 넘버    */
.frame .count {
    width: 256px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #777;
    padding-right: 4%;
    text-align: right;
    float: left;
}
.frame .count span {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: bold;
}
.frame .count .number {
    font-size: 8.75rem;
    color: #B11D29;
}

/*    페이지별 코멘트    */
.frame .preview {
    width: 33.3333%;
    display: inline-block;
}
.frame .pv-header {
    margin: 30px 0;
    width: 350px;
}
.frame .pv-header h2 {
    font-size: 45px;
    line-height: 40px;
    letter-spacing: -3px;
}
.frame .pv-header span {
    padding: 5px;
    color: #ccc;
    font-size: 30px;
    font-weight: 300;
}

.frame .pv-txt {
    width: 283px;
    margin-bottom: 21px;
    font-size: .9rem;
    color: #666;
    text-align: justify;
}
.frame .com {
    margin-bottom: 20px;
    line-height: 1.7;
    width: 100%;
}
.frame .more {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    color: #666;
    font-weight: bold;
    text-align: center;
}
.frame .more::after {
    content: '';
    width: 100px;
    height: 1px;
    background: #666;
    position: absolute;
    top: 50%;
    left: 0;
}
.frame .more:hover {
    color: #01DFD7;
}

/*    페이지별 카운트 색    */
#pro2 .number {
    color: #5858FA;
}
#pro3 .number {
    color: #FA58AC;
}
#pro4 .number {
    color: #01DFD7;
}

/*    이미지    */
.pro-img {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 1080px;
    left: 34%;
}
.pro-img .img-inner {
    float: left;
}

/*    이미지 호버    */
#pro2 .img-inner {
    transition: .6s;
    width: 25%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
}
#pro2 .img-inner.item1 { background-image: url(./img/main2_01.jpg); }
#pro2 .img-inner.item2 { background-image: url(./img/main2_02.jpg); }
#pro2 .img-inner.item3 { background-image: url(./img/main2_03.jpg); }
#pro2 .img-inner.item4 { background-image: url(./img/main2_04.jpg); }

#pro3 .img-inner {
    transition: .6s;
    width: 33.3333%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
}

#pro3 .img-inner.item1 { background-image: url(./img/main3_01.jpg); }
#pro3 .img-inner.item2 { background-image: url(./img/main3_02.jpg); }
#pro3 .img-inner.item3 { background-image: url(./img/main3_03.jpg); }