@charset "utf-8";
/*      바디태그 잡고 있기      */
body.lock, html.lock {
    overflow: hidden;
    position: fixed;
}

/*        페이지 이동 전환 애니메이션        */
.loader-moving {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 1000;
    transition: all 1s;
    transition-duration: 0.5s;
}
.loader-moving > span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: -10px 0 0;
}

.loader-moving > span.left {
    background: #29088A;
    transform: translateX(-30px);
    animation: circleLeft 1s cubic-bezier(.645,.045,.355,1) infinite;
    transition-duration: 0.5s;
}
.loader-moving > span.right{
  background: #E6E6E6;
  transform: translateX(30px);
  animation:circleRight 1s cubic-bezier(.645,.045,.355,1) infinite;
  transition-duration: 0.5s;
}

.loader-moving.end {
    opacity: 0;
    z-index: -1;
}

/* keyframes */
@keyframes circleLeft {
  0%{
    transform: translateX(-20px);
      transition-duration: 0.5s;
  }
  50%{
    transform: translateX(20px);
      transition-duration: 0.5s;
  }
  100%{
    transform: translateX(-20px);
      transition-duration: 0.5s;
  }
}
@keyframes circleRight {
  0%{
    transform: translateX(20px);
      transition-duration: 0.5s;
  }
  50%{
    transform: translateX(-20px);
      transition-duration: 0.5s;
  }
  100%{
    transform: translateX(20px);
      transition-duration: 0.5s;
  }
}