@charset "utf-8";
/* 공통서식부분*/
 * {  margin: 0; padding: 0; }
        body, html { width: 100%; height: 100%; -ms-oveflow-style:none; }
        ul, li { list-style: none }
        a { text-decoration: none; }
        ::-webkit-scrollbar { display:  none; }
        ::-moz-scrollbar { display:  none; }
        ::-o-scrollbar { display:  none; }
        ::-ms-scrollbar { display:  none; }
        
        .pageWrap {
            width: 100%;
            height: 100%;
        }
        /* 탑버튼 */
        #toTop {
                    display: block;
                    position: fixed;
                    width: 72px;
                    height: 72px;
                    background-image: url("./img/topbt.png");
                    background-repeat: no-repeat;
                    bottom: 40px;
                    right: 30px;
                    z-index: 999;
                    display: none;
                }